/* Add application styles & imports to this file! */
@import '~@ionic/angular/css/ionic.bundle.css';

.titulo {
  text-align: left;
  max-width: 180px;
  position: relative;
  top: 10px;
  left: -15px;
}

.titulo-contato {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

:root {
  --ion-font-family: 'Varela Round', sans-serif;

  /* barra superior */
  --ion-toolbar-background: #000000;
  --ion-toolbar-color: #ffffff;

  /* barra inferior */
  --ion-tab-bar-background: #000000df;
  --ion-tab-bar-color: #cccccc;
  --ion-tab-bar-color-selected: #ffffff;

  --ion-text-color: white;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-card-background: #000000;
  --ion-item-background: transparent;

  --ion-content-background: #000000;
}

.conteudo {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

ion-content {
  --ion-background-color: #000000;
}

ion-card {
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition-duration: 500ms;
  display: none;
}

ion-card:hover {
  transform: scale(1.03);
}

.img-item {
  padding: 20px;
  padding-bottom: 0px;
  width: 100%;
  height: 250px;
  border-radius: 40px 40px 20px 20px;
}

ion-thumbnail {
  animation: animation-item 4s infinite alternate;
}

ion-tab-bar {
  height: 10vh;
}

ion-toolbar {
  height: 10vh;
  padding: auto;
}

ion-tab-button .large {
  bottom: 5px;
  font-size: 75px;
  position: absolute;
}

@keyframes animation-item {
  0% {
    transform: translate(0px, 5px);
  }

  100% {
    transform: translate(0px, -5px);
  }
}

@keyframes animation-img-item {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(1deg) scale(1.02);
  }

  100% {
    transform: rotate(-1deg) scale(1.04);
  }
}

ion-slides {
  height: 100%;
}

form ion-item {
  border: 1px solid #fff;
  padding: 0px;
  margin: 0px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

form ion-button {
  background-color: #000000;
  margin: 0px 20px;
  height: 50px;
}

.texto-item {
  margin: 0px 20px 20px 20px;
}

.view-modal,
.popup {
  position: absolute;
}

.view-modal {
  background: transparent;
  position: absolute;
  margin: auto;
  right: 0;

  font-size: 30px;
  z-index: 100002;
}
.popup {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 90%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}
.popup.show {
  top: 75%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
  left: 50%;
  z-index: 9999;
  position: fixed;
}

.popup :is(header) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup :is(.icons, .field) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.popup header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
header span {
  font-size: 21px;
  font-weight: 600;
  color: #000;
}
header .close,
.icons a {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .close {
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
header .close:hover {
  background: #ebedf9;
}
.popup .content {
  margin: 20px 0;
}
.popup .icons {
  margin: 15px 0 20px 0;
}
.content p {
  font-size: 16px;
  color: #000;
}
.content .icons a {
  height: 40px;
  width: 40px;
  font-size: 30px;
  text-decoration: none;
  border: 1px solid transparent;
  position: relative;
  left: -25px;
}
.icons a i {
  transition: transform 0.3s ease-in-out;
}

.icons a:hover {
  color: #fff;
  border-color: transparent;
}
.icons a:hover i {
  transform: scale(1.2);
}
.content .field {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}
.field.active {
  border-color: #7d2ae8;
}
.field i {
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.field.active i {
  color: #7d2ae8;
}
.field input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.field button {
  color: #fff;
  padding: 5px 18px;
}
.field button:hover {
  background: #8d39fa;
}
